<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi {{firstName}},</p>
    <p>Your Nairalink Card has been successfully created</p>
    <p>Your card details are as follows:</p>
    <p>Name on Card: {{card_name}}</p>
    <p>Card Number: {{card_number}}</p>
    <p>Card Brand: {{card_brand}}</p>
    <p>CVV: {{cvv}}</p>
    <p>Expiry Date: {{expiry_date}}</p>
    <p>Thank you.</p>
    <h4>The Nairalink Team.</h4>
  </body>
</html>
